.navbar {
  text-align: right;
}
li {
  display: inline;
  padding: 30px;
}
li a {
  text-align: center;
  text-decoration: none;
}
.welcome-section {
  text-align: center;
}
<<<<<<< HEAD
=======
.project-section {
  text-align: center;
}
>>>>>>> main
